* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  box-sizing: border-box;
}
.container {
  padding: 20px 60px;
}
.avatar {
  width: 200px;
  height: 140px;
  border-radius: 25px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .info {
    display: block;
    text-align: center;
  }
}
.info-text {
  margin-left: 20px;
}

.info-text h1 {
  margin: 0;
}

.info-text p {
  color: #89888f;
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 0px; */
}
.info-text h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}

a:visited {
  color: grey;
}
.bg-yellow {
  background: rgb(243, 195, 132);
}
.bg-green {
  background: rgb(178, 225, 226);
}

.bg-red {
  background: rgb(239, 136, 136);
}
.card {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  padding: 15px 20px;
}
.list-item {
  margin-left: 20px;
}
.list-item li {
  margin: 10px 0;
  color: #89888f;
}
.card h2 {
  padding: 10px 0px;
  margin: 0;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
  color: #89888f;
}
/* .table .temp{
    color: red;
} */

.list {
  list-style: none;
  padding: 0;
}
.list li {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.contact {
  margin-top: 10px;
  width: 100%;
}
.contact h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-group {
  /* display: flex; */
  margin: 20px 0;
}
.form-group label {
  display: block;
  color: #89888f;
  font-size: 14px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #000;
  background-color: transparent;
  font-family: inherit;
  padding: 15px 0 10px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}
.btn {
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

/* .position {
  position: relative;
  width: 100%;
  border: 4px solid #000;
  margin-top: 10px;
  padding: 20px 40px;
  height: 400px;
} */

/* .position .box {
  position: absolute;
  left: 0;
  top: 100px;
  left: 0;
  width: 50px;
  height: 50px;
  background: brown;
  margin-top: 10px;
} */
